body{
    overflow: hidden;
    font-family: "Jost", sans-serif;
    background-color: darkslategray;
    
}

#rock,#paper,#scissor{
    width: 512px;
    height: 512px;
    background: transparent;
    border: none;
}

#rock,#paper,#scissor:hover{
    cursor: pointer;
}

.rock,.paper,.scissor{
    width: 512px;
    height: 512px;
    background: transparent;
}

.btn{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.score{
    position: absolute;
    top: 699px;
    right: 1567px;
}

.win{
    position: relative;
    top: -102px;
    left: 217px;
    font-size: 3em;
    
    
}

.lose{
    position: relative;
    left: 85rem;
    top: -13rem;
    font-size: 3em;
}

.draw{
    position: relative;
    left: 50rem;
    top: -20rem;
    font-size: 3em;
}

#d{
    position: absolute;
    top: 46rem;
    left: 44rem;
    font-size: 5em;
    font-family: "Bungee Spice", sans-serif;
}

#l{
    position: absolute;
    top: 46rem;
    left: 52rem;
    font-size: 5em;
    font-family: "Bungee Spice", sans-serif;
}

#w{
    position: absolute;
    top: 46rem;
    left: 47rem;
    font-size: 5em;
    font-family: "Bungee Spice", sans-serif;
}